/* Main column width */
.wp-block, .edit-post-text-editor__body {
    max-width: 90%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 90%;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}